@import url("https://fonts.googleapis.com/css2?family=Sansita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(221, 236, 255, 1);

  color: rgba(61, 10, 86, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 80px;
  background: rgba(221, 236, 255, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(221, 236, 255, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 457px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(221, 236, 255, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Commissioner;
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(61, 10, 86, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 26px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 60px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Commissioner;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    font-size: 20px;
    font-weight: 600;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 180px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Hero.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Sansita One;
  font-weight: 900;
  font-size: 64px;
  line-height: 76.8px;
  letter-spacing: 0%;
  text-align: center;

  -webkit-text-stroke: 1px rgba(255, 246, 35, 1);
  background: linear-gradient(180deg, #8f01d5 39.18%, #3d0a56 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-text {
  font-family: Sansita One;
  font-weight: 400;
  font-size: 36px;
  line-height: 43.2px;
  letter-spacing: 0%;
  text-align: center;

  -webkit-text-stroke: 2px rgba(61, 10, 86, 1);
  color: rgba(255, 246, 35, 1);
  padding: 8px 0 70px;
}
.home__google-button_image {
  width: 256px;
  height: 64px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 759px;
    padding: 150px 160px 0px;
    background-image: url("/image/home/Hero\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .home-title {
    font-family: Sansita One;
    font-weight: 400;
    font-size: 112px;
    line-height: 134.4px;
    letter-spacing: 0%;
    -webkit-text-stroke: 2px rgba(255, 246, 35, 1);
  }

  .home-text {
    font-family: Sansita One;
    font-weight: 400;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0%;
    padding: 8px 0 160px;
    -webkit-text-stroke: 3px rgba(61, 10, 86, 1);
  }
}
.about {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Sansita One;
  font-weight: 400;
  font-size: 36px;
  line-height: 43.2px;
  letter-spacing: 0%;
  color: rgba(143, 1, 213, 1);
}

.about-text {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding: 40px 0px;
}
.about-img {
  width: 343px;
  height: 360px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 160px;
    margin: auto;
    width: 1440px;
    display: flex;
    gap: 125px;
  }

  .about-title {
    font-family: Sansita One;
    font-weight: 400;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0%;
  }

  .about-text {
    font-family: Commissioner;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    width: 544px;
    padding: 80px 0px 0;
  }
  .about-img {
    width: 446px;
    height: 468px;
  }
}
.how {
  width: 375px;
  height: 885px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/how/How\ to\ Play.png");
}

.how-list {
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 26px;
}
.how-item {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.how-text {
  padding-top: 209px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 857px;
    padding: 80px 160px 0;
    background-image: url("/image/how/How\ to\ Play\ \(1\).png");
  }

  .how-list {
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .how-item {
    font-family: Commissioner;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    width: 544px;
  }

  .how-text {
    padding-top: 146px;
  }
  .how-text-two {
    margin-left: 576px;
  }
}

.reviews {
  width: 375px;
  height: 898px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/image/reviews/Reviews.png");
}
.about-title-two {
  color: rgba(255, 246, 35, 1);
}
.reviews-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.reviews-item {
  width: 343px;
  border-radius: 16px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border: 2px solid rgba(221, 236, 255, 1);
}

.reviews-text-bold {
  font-family: Commissioner;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  color: rgba(255, 246, 35, 1);
}
.reviews-text {
  font-family: Commissioner;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(221, 236, 255, 1);
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 613px;
    padding: 80px 160px 0;
    background-image: url("/image/reviews/Reviews\ \(1\).png");
  }

  .reviews-list {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .reviews-item {
    width: 352px;

    padding-right: 20px;
  }
  .reviews-item-two {
    width: 448px;
  }
  .reviews-text-bold {
    font-family: Commissioner;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Commissioner;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    padding-top: 16px;
  }
}

.faq {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 1008px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/image/faq/FAQ.png");
}
.faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-question {
  font-family: Commissioner;
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0%;
  color: rgba(143, 1, 213, 1);
}

.faq-answer {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 8px;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 160px 0px;
    width: 1440px;
    height: 863px;
    background-image: url("/image/faq/FAQ\ \(1\).png");
  }
  .faq-container {
    padding-top: 80px;
  }

  .faq-question {
    font-family: Commissioner;
    font-weight: 600;
    font-size: 28px;
    line-height: 36.4px;
    letter-spacing: 0%;
  }

  .faq-answer {
    font-family: Commissioner;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}
.gallery {
  width: 375px;
  height: 789px;
  margin: auto;
  padding: 40px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/gallery/Gallery.png");
}

.gallery__list {
  width: 325px;
  padding-top: 40px;
  padding-bottom: 40px;

  margin: auto;
}
.gallery__item {
  width: 326px;
  height: 522px;
  left: 16px;
  overflow: hidden;
  position: relative;
  margin: 0 4px;
}
.gallery-item {
  width: 343px;
  height: 193px;
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-link {
  margin: auto;
}
.gallery-link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.slick-prev:before {
  content: "←";
  display: none;
}
.slick-next:before {
  content: "→";
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 975px;
    margin: auto;
    padding: 80px 160px 0px;

    background-image: url("/image/gallery/Gallery\ \(1\).png");
  }

  .gallery__list {
    width: 928px;
    padding-top: 80px;
    padding-bottom: 80px;

    margin: auto;
  }
  .gallery__item {
    width: 326px;
    height: 522px;
    left: 16px;
    overflow: hidden;
    position: relative;
    margin: 0 10px;
  }
  .gallery-item {
    width: 928px;
    height: 522px;
  }
  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .gallery-link {
    margin: auto;
  }
  .slick-prev:before {
    content: url("/image/gallery/Arrow.png");
    display: flex;
    margin-left: -100px;
  }
  .slick-next:before {
    content: url("/image/gallery/Arrow\ \(1\).png");
    display: flex;
    margin-left: 55px;
  }
}
.features {
  width: 375px;
  height: 1280px;
  margin: auto;
  padding: 40px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/features/Features.png");
}

.features-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.features-img {
  margin: auto;
}

.features-text {
  font-family: Commissioner;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(221, 236, 255, 1);
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 701px;
    padding: 80px 160px 0px;
    background-image: url("/image/features/Features\ \(1\).png");
  }

  .features-list {
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .features-item {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  .features-img {
    margin: 0;
  }

  .features-text {
    font-family: Commissioner;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    padding-top: 0px;
  }
}
.footer {
  background: rgba(61, 10, 86, 1);

  padding: 40px 0px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 16px;
}
.footer-text {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  text-decoration: none;
  color: rgba(221, 236, 255, 1);
}

.footer-copyright {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(221, 236, 255, 1);
}

@media screen and (min-width: 1200px) {
  .footer-text {
    font-family: Commissioner;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
  }

  .footer-copyright {
    font-family: Commissioner;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 120px 16px 40px;
}
.policy-terms-title {
  font-family: Sansita One;
  font-weight: 400;
  font-size: 36px;
  line-height: 43.2px;
  letter-spacing: 0%;
  color: rgba(143, 1, 213, 1);
}

.policy-terms-text {
  font-family: Commissioner;
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Commissioner;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Commissioner;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 160px 160px 80px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Sansita One;
    font-weight: 400;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    font-family: Commissioner;
    font-weight: 600;
    font-size: 28px;
    line-height: 36.4px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Commissioner;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Commissioner;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Commissioner;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Commissioner;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 338px;
  border-radius: 32px;
  padding: 32px;
  background: rgba(143, 1, 213, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(241, 238, 233, 1);
}
.cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  width: 256px;

  border-radius: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(186, 243, 237, 1);
  font-family: Commissioner;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(186, 243, 237, 1);
  background-color: transparent;
}
#accept-cookies {
  background: rgba(186, 243, 237, 1);
  color: rgba(61, 10, 86, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    width: 572px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1262px;

    padding: 52px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
